@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #F5F5F5 !important;
    position: relative;
    font-size: 15px;
}

// .ant-input-affix-wrapper.ant-input-password{
//     outline: none !important;
//     border: none !important;
//     border-bottom: 2px #818181 solid !important;
// }
// .ant-input[type='text']{
//     outline: none !important;
//     border: none !important;
//     border-bottom: 2px #818181 solid !important;
// }
// .ant-input-affix-wrapper.ant-input-password>.ant-input{
//     outline: none !important;
//     border: none !important;
// }
.ant-form-item-explain-error{
    font-size: 10px; 
}

.btn-black{
    background-color: black !important;
    border-radius: 10px !important;
    border: none !important;
    font-weight: 700 !important;
    font-size: 12px;
}

.ant-btn.ant-btn-link{
    font-size: 12px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    &:active{
        color: black;
    }
}

.ant-space-item{
    width: 100%;
}


.ant-row.ant-form-item{
    position: relative;
}
.ant-col.ant-form-item-label{
    position: absolute;
    top: -22px;
    left: 18px;
    z-index: 9999 !important;
    padding: 0px !important;

    background-color: white;
    padding: 0px 8px !important;
    font-weight: 700;
}
label.ant-form-item-required::before{
    font-size: 0px !important;
}

.ant-row.ant-form-item{
    margin-top: 24px !important;
    margin-bottom: 16px !important;
}

.ant-space-item .ant-row.ant-form-item{
    margin: 0px !important;
    //margin-bottom: 16px !important;
}

.ant-btn.ant-btn-circle{
    height: 32px !important;
    min-width: 32px !important;
    background-color: black !important;
    border: none !important;
}

@media only screen and (min-width: 890px) {
    .ant-form-item-explain-error{
        font-size: 12px; 
    }
    .ant-btn.ant-btn-link{
        font-size: 16px !important;
    }
    .ant-btn.ant-btn-circle{
        height: 40px !important;
        min-width: 40px !important;
    }
}

@media only screen and (max-width: 889px) {
    .ant-layout-header.header{
        padding: 0px !important;
    }
}

//